# Arquivos de Build
[Bb]in/
[Oo]bj/

# Configurações de IDE (Visual Studio / VS Code)
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
.idea/

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Segredos e Configurações Locais
appsettings.Development.json
# (Cuidado: só ignore o arquivo acima se você não quiser subir 
# configurações de teste para o time. Geralmente mantemos, 
# mas usamos User Secrets para senhas.)

# Ferramentas do .NET
.ionide/
nupkg/
*.suo